Options -Indexes +FollowSymLinks

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTP_HOST} !localhost
  RewriteRule .? - [E=FULLPATH:/,S=1]
  RewriteRule .? - [E=FULLPATH:/karolina/WladinQ/diggyshelper-2.0/]
  RewriteCond %{REQUEST_URI} !/(?:_\.php|public/.*|tools/.*)$
  RewriteCond %{REQUEST_URI} !-f
  RewriteCond %{REQUEST_URI} !-d
  RewriteRule !index.php %{ENV:FULLPATH}/index.php [QSA,L]
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault A3
  #ExpiresByType text/css M74995200
</IfModule>

